*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(241, 164, 92);
}

.titulo__principal{
    background-color: #e05d5d;
    color: #ffffff;
    height: 5rem;
    padding: 0.5rem;
    font-size: 3rem;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.container .col{
    background-color: #f0342e94;
    height: 10rem;
    width: 10rem;
    color: #ffffff;
    border-radius: 15rem;
    
}